* {
  border: 0;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 5% 25%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #026aa7;
}

main {
  background-color: white;
  border: 20px solid white;
  border-radius: 10px;
}

main h1 {
  text-align: center;
  font-weight: 500;
}

main h1 span {
  font-weight: 300;
}

main #header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 10%;
  background: rgba(255, 255, 255, 0.9);
}

main h3 {
  color: #b93333;
}

main #delete {
  padding: 0.5rem;
  border-radius: 5px;
  border: 2px #b93333 solid;
  font-size: 1.2rem;
  background-color: white;
}

main #delete:hover {
  background-color: #b93333;
  color: white;
}

main #boardList li {
  line-height: 2rem;
  font-weight: 600;
  list-style: none;
}

main #boardList li input {
  margin-right: 1rem;
}

main #boardList li span {
  float: right;
  font-weight: initial;
}

main .selected {
  color: white;
  background-color: #b93333;
  border-radius: 8px;
  border-left: 10px solid #b93333;
  border-right: 10px solid #b93333;
}

#confirm {
  background-color: #026aa7;
  color: white;
  -webkit-box-shadow: 0 0 100px 100px white;
          box-shadow: 0 0 100px 100px white;
  border: #639ce6 solid 4px;
  border-radius: 10px;
  position: fixed;
  top: 20%;
  right: 30%;
  left: 30%;
  padding: 4rem;
  text-align: center;
  height: auto;
  z-index: 10;
}

#confirm h2 {
  font-weight: 600;
  height: 5rem;
  padding: auto;
}

#confirm #btnGroup {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
}

#confirm #btnGroup button {
  padding: 15px;
  border: 5px solid white;
  border-radius: 10px;
  color: white;
  font-weight: 600;
}

#confirm #btnGroup #yes {
  background: #479b47;
}

#confirm #btnGroup #no {
  background: #b93333;
}

.hide {
  display: none;
}

#logo {
  position: absolute;
  top: 10%;
  right: 5%;
  width: 10%;
  height: auto;
}

footer {
  margin-top: 2rem;
  text-align: right;
  color: white;
}
