* {
   border: 0;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body {
   padding: 5% 25%;
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   background-color: #026aa7;
}
main {
   background-color: white;
   border: 20px solid white;
   border-radius: 10px;
   h1 {
      text-align: center;
      font-weight: 500;
      span {
         font-weight: 300;
      }
   }
   #header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 5rem;
      position: sticky;
      top: 10%;
      background: rgba(255, 255, 255, 0.9);
   }
   h3 {
      color: rgb(185, 51, 51);
   }

   #delete {
      padding: 0.5rem;
      border-radius: 5px;
      border: 2px rgb(185, 51, 51) solid;
      font-size: 1.2rem;
      background-color: white;
   }
   #delete:hover {
      background-color: rgb(185, 51, 51);
      color: white;
   }

   #boardList {
      li {
         line-height: 2rem;
         font-weight: 600;
         list-style: none;
      }
      li input {
         margin-right: 1rem;
      }
      li span {
         float: right;
         font-weight: initial;
      }
   }

   .selected {
      color: white;
      background-color: rgb(185, 51, 51);
      border-radius: 8px;
      border-left: 10px solid rgb(185, 51, 51);
      border-right: 10px solid rgb(185, 51, 51);
   }
}

#confirm {
   background-color: white;
   //    box-shadow: 0 0 500px 500px white;
   border: rgb(185, 51, 51) solid 4px;
   border-radius: 10px;
   position: absolute;
   top: 10;
   left: 10;
   width: 20rem;
   height: 5rem;
   z-index: 10;
}
.hide {
   display: none;
}

#logo {
   position: absolute;
   top: 10%;
   right: 5%;
   width: 10%;
   height: auto;
}

footer {
   margin-top: 2rem;
   text-align: right;
   color: white;
}
